/* --- Header --- */
.header-title {
	font-family: 'TT Travels Next', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
}
/* --- Header --- */


/* --- Buttons --- */
.btn {
	outline: none;
	width: 100%;
	height: 50px;
	cursor: pointer;
	user-select: none;
	text-decoration: none;
    vertical-align: middle;
	border-radius: 48px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	transition: .2s ease-out;
	margin-top: 12px;
}
.btn--primary {
	background-color: var(--ion-color-primary);
	border: 1px solid var(--ion-color-primary);
	color: #fff;
}
.btn--primary:active {
	background-color: #c8a275;
	border: 1px solid #c8a275;
}
.btn--primary:disabled {
	background-color: var(--ion-color-secondary);
	border: 1px solid var(--ion-color-secondary);
}
.btn--outline {
	background-color: transparent;
	color: var(--ion-color-primary);
	border: 1px solid var(--ion-color-primary);
}
.btn--outline.btn--outline-white {
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
	font-weight: 400;
}
.btn--outline:active {
	background-color: #c8a275;
	border: 1px solid #c8a275;
	color: #fff;
}
.btn--outline:disabled {
	background-color: transparent;
	color: var(--ion-color-secondary);
	border: 1px solid var(--ion-color-secondary);
}
/* btn */

/* Menu */
.menu-content {
	/* padding: 30px 18px; */
}

.menu-content__user {
	display: flex;
	align-items: center;
	gap: 12px;
}

.menu-content__user-icon {
	background: url(img/userpic.svg) no-repeat;
	width: 36px;
	height: 36px;
}

.menu-content__user-title {
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	position: relative;
	top: 1px;
}

.menu-content__container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 30px;
}

.menu-content__link {
	color: #fff;
	padding-left: 36px;
	position: relative;
	text-decoration: none;
	font-size: 15px;
	line-height: 18px;
}

.menu-content__link::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: -1px;
	width: 20px;
	height: 20px;
}

.menu-content__link-1::before {
	background: url('img/menu-link-1.svg') no-repeat;
}
.menu-content__link-2::before {
	background: url('img/menu-link-2.svg') no-repeat;
}
.menu-content__link-3::before {
	background: url('img/menu-link-3.svg') no-repeat;
}

/* .menu-content__link::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: -1px;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	background: #fff;
} */

/* End Menu */


/* --- startpage --- */
.startpage {
	min-height: 100%;
	position: relative;
	padding: 0 18px;
	padding-bottom: 30px;
}

.startpage__bg {
	position: absolute;
	inset: 0;
}

.startpage__bg img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.startpage__bottom {
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 100%;
	padding: 0 18px;
}

.startpage__title {
	font-family: 'TT Travels Next';
	font-size: 30px;
	line-height: 40px;
	color: #FBFAF7;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 18px;
}

.startpage__login {
	height: 50px;
	width: 100%;
	background: #FBFAF7;
	border-radius: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	user-select: none;
	outline: none;
	font-size: 16px;
	line-height: 21px;
	color: #BEA68A;
	transition: .3s ease-out;
	box-shadow: 0px 1px 4px 0px rgba(12,12,13,0.1);
}

.startpage__buttons {
	margin-bottom: 18px;
}

.startpage__login:active {
	background: #BEA68A;
	color: #fff;
}

.startpage__caption {
	font-size: 10px;
	line-height: 13px;
	color: #FBFAF7;
	text-align: center;
}

.startpage__caption a {
	text-decoration: underline;
	color: #FBFAF7;
}

/* --- startpage --- */


/* purchases */
.purchases__item {
	border: 1px solid #E1E1E1;
	padding: 15px 18px;
	border-radius: 100px;
	display: flex;
	gap: 30px;
	justify-content: space-between;
	margin-top: 12px;
}

.purchases__item:first-child {
	margin-top: 0;
}

.purchases__item-content {
	flex: 1;
}

.purchases__item-grade {
	width: 86px;
}

.purchases__item-date {
	font-size: 12px;
	line-height: 15px;
	color: #848484;
	margin-bottom: 5px;
}

.purchases__item-title {
	font-size: 12px;
	line-height: 13px;
}

.purchases__item-grade-value {
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}

.purchases__item-grade-title {
	font-weight: 400;
	font-size: 10px;
	line-height: 13px;
	text-align: center;
	color: #848484;
}
/* purchases */



/* notifications */
.notifications__item {
	border: 1px solid #E1E1E1;
	padding: 18px;
	border-radius: 33px;
	margin-top: 12px;
	position: relative;
}

.notifications__item:first-child {
	margin-top: 0;
}

.notifications__item-date {
	font-size: 12px;
	line-height: 15px;
	color: #848484;
	margin-bottom: 12px;
}

.notifications__item-title {
	font-size: 16px;
	line-height: 20px;
	text-wrap: balance;
}

.notifications__item-title b {
	font-weight: 500;
}

.notifications__item-close {
	background: url('img/notifications-close.svg') no-repeat;
	background-size: contain;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 18px;
	right: 18px;
	transition: .3s ease-out;
}

.notifications__item-close:hover {
	opacity: .8;
}
/* notifications */


/* bottom-tabs */
.bottom-tab__icon {
	width: 54px;
	height: 54px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .2s ease-out;
}

.bottom-tab__icon svg {
	display: block;
}

.bottom-tab--active .bottom-tab__icon {
	background: #fff;
}

.bottom-tab--active .bottom-tab__icon svg path {
	fill: #0D0C0C;
}
/* bottom-tabs */



/* form-control */
.form-control {
	margin-bottom: 12px;
}

.form-control:first-child {
	margin-top: 0;
}

.form-control__label {
	color: var(--ion-color-primary);
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	margin-bottom: 6px;
}

.form-control__input {
	width: 100%;
	height: 45px;
	line-height: 21px;
	font-size: 15px;
	border-radius: 22px;
	border: 1px solid #E1E1E1;
	outline: none;
	padding: 12px;
	color: var(--ion-text-color);
	background: #fff;
}
.form-control__input::placeholder {
	color: #848484;
}

.form-control__textarea {
	width: 100%;
	height: 45px;
	line-height: 19px;
	font-size: 15px;
	padding: 12px;
	border-radius: 22px;
	border: 1px solid #E1E1E1;
	outline: none;
	color: var(--ion-text-color);
	transition: .2s ease-out;
	background: #fff;
}
.form-control__textarea::placeholder {
	color: #848484;
}
.form-control__textarea:focus, .form-control__textarea--active {
	height: 104px;
	padding: 16px 12px;
}

.form-control__error--large {
	font-size: 15px;
	font-weight: 400;
	margin-top: 12px;
}

.form-control__error {
	color: #848484;
	font-size: 13px;
	font-weight: 400;
	margin-top: 6px;
}
/* form-control */



/* card-page */
.card-page {
	background: var(--ion-color-dark);
	border-radius: 30px;
	padding: 10px 18px 20px;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	max-height: 100%;
}

.card-page__header {
	display: flex;
	flex-direction: column;
	gap: 28px;
	margin-bottom: 45px;
}

.card-page__header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-page__header-logo {
	width: 100px;
}
.card-page__header-logo img {
	display: block;
	width: 100%;
	height: 100%;
}

.card-page__header-count {
	font-size: 15px;
	line-height: 18px;
	font-weight: 500;
	color: #fff;
}

.card-page__header-qr {
	display: flex;
	justify-content: center;
	text-align: center;
	width: 180px;
	margin: 0 auto;
}

.card-page__header-qr img {
	display: block;
	width: 100%;
}

.card-page__body {
	overflow-y: scroll;
}

.card-page__body-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.card-page__body-fh {
	display: flex;
	gap: 12px;
}
.card-page__body-fv {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.card-page__body-title-container {
	display: flex;
	gap: 3px;
	align-items: center;
}

.card-page__body-title-container svg {
	display: block;
	position: relative;
	top: -2px;
}

.card-page__body-title {
	color: #BEA68A;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
}
.card-page__body-title--margin {
	margin-bottom: 8px;
}
.card-page__body-value {
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
}
.card-page__body-value-btn {
	position: relative;
	top: 3px;
}
.card-page__body-value-btn svg{
	display: inline-block;
}
.card-page__body-value span {
	color: #848484;
	font-size: 12px;
	font-weight: 300;
}

.card-page__footer {
	text-align: center;
}
.card-page__footer img {
	display: block;
	margin: 0 auto;
}
/* card-page */



/* message-success */
.message-success {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.message-success__title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	text-align: center;
}
.message-success__desc {
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	text-align: center;
}
.message-success__icon {
	text-align: center;
	margin-top: 30px;
}
.message-success__icon img {
	display: inline-block;
}
.message-success__caption {
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	text-align: center;
	margin-top: 20px;
}
.message-success__caption a {
	font-weight: 500;
	display: block;
	width: fit-content;
	text-decoration: underline;
	color: var(--ion-color-dark);
	margin: 0 auto;
}
/* message-success */



/* --- Text Page --- */
.text-page__title {
	font-family: 'TT Travels Next';
	font-size: 13px;
	line-height: 27px;
	margin-bottom: 12px;
	text-transform: uppercase;
}

.text-page__content p {
	font-size: 16px;
	line-height: 21px;
	margin: 0;
}

.text-page__content {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
/* --- Text Page --- */



/* --- ShopList --- */
.shoplist {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.shoplist__item {
	border-radius: 20px;
	border: 1px solid #E1E1E1;
	padding: 18px;
}

.shoplist__title {
	margin-bottom: 6px;
	font-size: 12px;
	font-weight: 500;
}

.shoplist__adress {
	text-transform: lowercase;
	font-size: 12px;
}
.shoplist__adress:first-letter {
	text-transform: uppercase;
}
/* --- ShopList --- */


/* --- Bonus-card --- */
.bonus-cards {
	/* padding-top: 120px; */
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}
.swiper {
	width: 100%;
	height: 200px;
}
.bonus-card {
	border-radius: 30px;
	height: 200px;
	width: 100%;
	position: relative;
	padding: 14px 18px;
}

.bonus-card__logo {
	position: absolute;
	left: 16px;
	top: 18px;
	width: 100px;
}

.bonus-card__logo img{
	/* height: 100%; */
	width: 100%;
}

.bonus-card__amount {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	text-align: right;
	position: absolute;
	right: 18px;
	top: 14px;
	color: #fff;
}

.bonus-card__adress {
	font-size: 12px;
	line-height: 15px;
	position: absolute;
	bottom: 14px;
	left: 18px;
	width: 100%;
	max-width: 248px;
	color: #fff;
}
/* --- Bonus-card --- */

.menu-content__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px 18px;
	height: 100%;
}